.header{
    width: 100%;
    position: absolute;
    z-index: 50;
}

.header__container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
.header__title{
    font-size: 37px;
    font-weight: 600;
}